BR2_x86_core2=y
BR2_DL_DIR="$(TOPDIR)/../download"
BR2_CCACHE=y
BR2_ENABLE_DEBUG=y
BR2_KERNEL_HEADERS_4_4=y
BR2_UCLIBC_CONFIG="../conf/uclibc.config"
BR2_TOOLCHAIN_BUILDROOT_INET_RPC=y
BR2_TOOLCHAIN_BUILDROOT_WCHAR=y
BR2_PTHREAD_DEBUG=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_PACKAGE_HOST_GDB=y
BR2_TARGET_GENERIC_ROOT_PASSWD="root"
BR2_SYSTEM_DHCP="eth0"
BR2_ROOTFS_OVERLAY="../overlay-server"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="../conf/linux.config"
BR2_LINUX_KERNEL_LZMA=y
BR2_LINUX_KERNEL_INSTALL_TARGET=y
BR2_PACKAGE_BUSYBOX_CONFIG="../conf/busybox.config"
BR2_PACKAGE_GDB=y
BR2_PACKAGE_GETTEXT=y
BR2_PACKAGE_E2FSPROGS_RESIZE2FS=y
BR2_PACKAGE_NFS_UTILS=y
BR2_PACKAGE_NFS_UTILS_RPC_LOCKD=y
BR2_PACKAGE_NFS_UTILS_RPC_RQUOTAD=y
BR2_PACKAGE_NFS_UTILS_NFS4=y
BR2_PACKAGE_GNUTLS=y
BR2_PACKAGE_OPENLDAP=y
BR2_PACKAGE_LIBICONV=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_IPROUTE2=y
BR2_PACKAGE_SAMBA4=y
BR2_TARGET_SYSLINUX=y
BR2_TARGET_SYSLINUX_MBR=y
